<!-- 導覽列開始 -->
<header>
	<div class="header_area">
		<div class="header_top d-none d-sm-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_default">
							<p>Hi ~ Welcome GRACEGIFT !</p>
						</div>
					</div>
					<div class="col">
						<div class="head_user_info">
							<a href="#"><i class="fa fa-user"></i>我的帳戶</a>
							<a href="#"><i class="fa fa-heart"></i>願望清單</a>
							<a href="#"><i class="fa fa-unlock-alt"></i>會員登入</a>
							<a href="#"><i class="fa fa-share-square"></i>會員登出</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-10 order-2 order-sm-1">
						<nav class="navbar navbar-expand-lg navbar-light">
						  <a class="navbar-brand header_logo" href="#">
						  	<img src="https://images.pexels.com/photos/430205/pexels-photo-430205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
						  </a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						    <ul class="navbar-nav mr-auto">
						      <li class="nav-item active">
						        <a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">時尚話題</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">流行女裝</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">質感男裝</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">生活家居</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">聯繫</a>
						      </li>
						    </ul>
						  </div>
						</nav>
					</div>
					<div class="col-md-2 order-1 order-sm-2 text-center">
						<ul class="header_bottom_right_inner">
							<li>
								<a href="#" class="cart_toggler mini_cart_icon">
									<i class="fa fa-shopping-cart"></i>
									<span>2</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- 導覽列結束 -->