<!-- 導覽列開始 -->
<header>
	<div class="header_area">
		<div class="header_top d-none d-sm-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_default">
							<p>Hi ~ Welcome GRACEGIFT !</p>
						</div>
					</div>
					<div class="col">
						<div class="head_user_info">
							<a href="#"><i class="fa fa-user"></i>我的帳戶</a>
							<a href="#"><i class="fa fa-heart"></i>願望清單</a>
							<a href="#"><i class="fa fa-unlock-alt"></i>會員登入</a>
							<a href="#"><i class="fa fa-share-square"></i>會員登出</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-10 order-2 order-sm-1">
						<nav class="navbar navbar-expand-lg navbar-light">
						  <a class="navbar-brand header_logo" href="#">
						  	<%= image_tag "gracegift_logo" %>
						  </a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						    <ul class="navbar-nav mr-auto">
						      <li class="nav-item active">
						        <a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">時尚話題</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">流行女裝</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">質感男裝</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">生活家居</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="#">聯繫</a>
						      </li>
						    </ul>
						  </div>
						</nav>
					</div>
					<div class="col-md-2 order-1 order-sm-2 text-center">
						<ul class="header_bottom_right_inner">
							<li>
								<a href="#" class="cart_toggler mini_cart_icon">
									<i class="fa fa-shopping-cart"></i>
									<span>2</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- 導覽列結束 -->

<!-- 輪播開始 -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banner-1", class: "d-block w-100 banner_high", alt: "First slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner-2", class: "d-block w-100 banner_high", alt: "Second slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner-3", class: "d-block w-100 banner_high", alt: "Third slide" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- 輪播結束 -->

<!-- 服務說明開始 -->
<section class="service">
	<div class="container">
		<div class="row text-center">
			<div class="col-4">
				<div class="single_item border border-info rounded">
					<i class="fa fa-truck fa-4"></i>
					<h4>免費運費</h4>
					<p>隔天送到及免運費</p>
				</div>
			</div>
			<div class="col-4">
				<div class="single_item border border-info rounded">
					<i class="fas fa-sync-alt fa-4"></i>
					<h4>免費退貨</h4>
					<p>30天以內保證退貨</p>
				</div>
			</div>
			<div class="col-4">
				<div class="single_item border border-info rounded">
					<i class="fa fa-clock fa-4"></i>
					<h4>全年無休</h4>
					<p>24小時專人服務</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 服務說明結束 -->
